{% extends 'main.html' %}

{% block contents %}

<script>
    $(document).ready(function() {
        get_comment_list();
    });
    
    function addComment() {
        $.ajax({
            url: "{{url_for('board.comment_write')}}",
            type: "POST",
            data: $("#commentForm").serialize(), //serialize : 전송하기 좋은 형태로 변경해줌
            success: function(data) {
                $("comment").val("");
                get_comment_list();
            } ,
            error: function(request, status, error) {
                var msg = "Error : " + request.status + "<br>";
                msg += "내용: " + request.responseText + "<br>" + error;
                console.log(msg);
            }
        });
    }
    function get_comment_list() {
        $.ajax({
            url: "{{url_for('board.comment_list', root_idx=result.id)}}",
            type: "GET",
            cache: false,
            dataType: "json",
            success: function(data) {
                c = data.lists;
                html = "";
                if (c.length > 0) {
                    for(var i = 0; i < c.length; i++) {
                        html += "<div>";
                        html += "<table class='table'>";
                        html += "<tr>";
                        html += "<td width='100'><h6>" + c[i].name + "</h6></td>";
                        html += "<td>" + c[i].comment + "</td>";
                        html += "<td class='text-right' width='200'>" + c[i].pubdate + "</td>";
                        html += "</tr>";
                        html += "</table>";
                        html += "</div>";
                    }
                }
                $("#cCnt").html(c.length);
                $("#commentList").html(html);
            },
            error: function(request, status, error) {
                var msg = "Error : " + request.status + "<br>";
                msg += "내용: " + request.responseText + "<br>" + error;
                console.log(msg);
            }
        })
    }
</script>

<table class="table table-borderes">
    <tbody>
        <tr>
            <td colspan="2">{{result.title}}</td>
        </tr>
        <tr>
            <td>{{result.name}}</td>
            <td class="text-right">{{result.pubdate|formatdatetime}}</td>
        </tr>
        {% if result.attachfile %}
        <tr>
            <td>첨부파일</td>
            <td><a href = "{{url_for('board.board_files', filename=result.attachfile)}}">{{result.attachfile}}</a></td>
        </tr>
        {% endif %}
        <tr>
            <td colspan="2"><div style="min-height:200px;">{% autoescape false %}{{result.contents}}{% endautoescape %}</div></td>
        </tr>
    </tbody>
</table>

<a class="btn btn-primary" href="{{url_for('board.lists', page=page, search=search, keyword=keyword)}}">목록으로</a>

{% if session["id"] == result.writer_id %}
    <a class="btn btn-danger float-right ml-2" href="{{url_for('board.board_delete', idx=result.id)}}">글삭제</a>
    <a class="btn btn-warning float-right ml-2" href="{{url_for('board.board_edit', idx=result.id)}}">글수정</a>
{% endif %}
<br>
<br>
<form id="commentForm" name="commentForm" action="{{url_for('board.comment_write')}}" method="POST">
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
    <input type="hidden" name="root_idx" value="{{result.id}}">
    <div>
        <span><string>댓글</strong></span> <span id="cCnt"></span>
        <table class="table">
            <tr>
                <td><textarea rows="3" cols="110" id="comment" name="comment" placeholder="댓글을 입력하세요."></textarea></td>
                <td><input type="button" class="btn btn-success" style="height:80px;" onclick="addComment()"  value="등록하기"></td>
            </tr>
        </table>
    </div>
</form>

<div id="commentList"></div>
{% endblock %}